body {
   background: linear-gradient(to top, #cbf078 0%, #e46161 50%);
   height: 100vh;
}
.container {
   display: block;
   margin: 0 auto;
   max-width: 800px;
}
/*Main page*/
h1 {
   font-size: 80px;
   text-align: center;
   color: aliceblue;
   margin-top: 30px;
   margin-bottom: 0;
   padding-bottom: 20px;
}
h2 {
   font-size: 48px;
   text-align: center;
   color: #f8f398;
   margin-top: 0;
   padding-top: 0;
   margin-bottom: 20px;
}
p {
   color: aliceblue;
   opacity: 0.8;
}
.links {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
.links a {
   text-decoration: none;
   color: aliceblue;
   font-weight: 600;
}
.link:hover {
   text-decoration: underline;
   color: #f8f398;
}
.link {
   margin: 0 15px;
}
/*Photo page*/
#photo {
   max-height: 320px;
}
/*Contact page*/
.email-info {
   text-align: center;
}
.email {
   color: #f8f398;
   text-decoration: none;
}
.email:hover {
   text-decoration: underline;
}
